{% extends 'base.html' %}
{% load staticfiles %}
{% load blog_tags %}


{% block article_all %}
    <div class="w_container">
        <div class="container">
            <div class="row w_main_row">
                <ol class="breadcrumb w_breadcrumb">
                    {#                    <li><a href="{% url 'blog:archives' %}">归档</a></li>#}
                    <li>归档时间轴</li>
                    <span class="w_navbar_tip">删删写写，回回忆忆，虽无法行云流水，却也可碎言碎语</span>
                </ol>
                <div class="bloglist">
                    {#                    {% archives as date_list %}#}
                    {#                    <ul class="arrow_box">#}
                    {#                        {% for date in date_list %}#}
                    {#                            <li>{{ date.year }} 年#}
                    {#                                <ul class="mt-3">#}
                    {#                                    <li class="mt-3">{{ date.month }} 月#}
                    {#                                        {% for post in post_list %}#}
                    {#                                            <li class="mt-3"><a href="#">{{ post.title }}</a>#}
                    {#                                            </li>#}
                    {#                                        {% endfor %}#}
                    {#                                </ul>#}
                    {#                            </li>#}
                    {#                        {% empty %}#}
                    {#                            暂无归档#}
                    {#                        {% endfor %}#}
                    {#                    </ul>#}
                    {% regroup dates by year as dates_by_year %}
                    <ul class="arrow_box">
                        {% for month in dates_by_year %}
                            <li>{{ month.grouper }} 年
                                <ul class="mt-3">
                                    {% for d in month.list %}
                                        <li class="mt-3">{{ d|date:'m' }} 月
{#                                        <li class="mt-3"><a href="#">1111</a>#}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% empty %}
                            暂无归档
                        {% endfor %}
                    </ul>


                </div>
            </div>
        </div>
    </div>


    <div id="shape">
        <div class="shapeColor">
            <div class="shapeFly">
            </div>
        </div>
    </div>
{% endblock article_all %}