{% extends 'base.html' %}
{% load blog_tags %}

{% block main %}
{% for post in post_list %}
    <article class=" blog-teaser">
        <header>
            <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
            <div class="entry-meta">
                <span class="post-date">
                    <a href="#">
                        <time class="entry-date" datetime="{{ post.created_time }}">{{ post.created_time }}    ·</time>
                    </a>
                </span>
                <span class="post-category">
                    <a href="#">分类:{{ post.category.name }}    ·</a>
                </span>
                <span class="post-tag">
                    <a href="#">标签:{{ tag.name }}    ·</a>
                </span>
                <span class="comments-link">
                    <a href="#">{{ post.comment_set.count }}评论    ·</a>
                </span>
                <span class="views-count"><a href="#">{{ post.views }} 阅读</a>
                </span>
            </div>
        </header>
        <div class="body">
            {{ post.body|truncatechars:54 }}
        </div>
        <div class="clearfix">
            <a href="{{ post.get_absolute_url }}" class="btn btn-clean-one">Read more</a>
        </div>
    </article>
{% empty %}
    <div class="no-post">暂无文章</div>
{% endfor %}
    <nav>
        <ul class="pagination">
            {% pagination current_page paginator 12 5 as page_list %}
            {{ page_list|safe }}
        </ul>
    </nav>

{% endblock main %}


