{% extends 'base.html' %}
{% load staticfiles %}

{% block main %}
    {% for post in post_list %}
        <!--文章列表开始-->
        <div class="contentList">

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="contentleft">
                        <h4><a class="title" href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
                        <p>
                            {% for label in tag.name %}
                                <a class="label label-default">{{ label }}</a>
                            {% endfor %}
                        </p>
                        <p class="overView">{{ post.excerpt }}...</p>
                        <p>
                            <span class="count">
                                <i class="glyphicon glyphicon-user"></i>
                                <a href="#">大力</a>
                            </span>
                            <span class="count">
                                <i class="glyphicon glyphicon-eye-open"></i>阅读:{{ post.views }}
                            </span>
                            <span class="count">
                                <i class="glyphicon glyphicon-comment"></i>评论:{{ post.comment_set.count }}
                            </span>
                            <span class="count">
                                <i class="glyphicon glyphicon-time"></i>{{ post.created_time }}
                            </span>
                        </p>
                    </div>
                    <div class="contentImage">
                        <div class="row">
                            <a href="#" class="thumbnail w_thumbnail">
                                <img src="{% static 'blog/img/slider/Aj6bieY.jpg' %}" alt="...">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
								<!--文章列表结束-->
    {% empty %}
        <div class="no-post">暂无文章！</div>
    {% endfor %}
{% endblock main %}

